@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 640px) {
  body {
    max-width: 50%;
    margin: 0 auto;
  }
}

@layer components {
  .dot__seperator {
    @apply after:ml-2 after:font-bold after:text-gray-300 after:content-[attr(data-after-content)];
  }
}
