@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .seperator {
    @apply after:content-[attr(data-after-content)] after:font-bold after:text-gray-300 after:ml-2;
  }
}
